{% extends 'layout/base.html.twig'%}
{% block contenido %}
<section class="stretchme_on_mobile" style="position:relative" id="firstcontentcontainer">
<section class="container">
<!-- Body -->
<section class="row">
    <!-- Content -->
	    <section class="span12">
    <style>#firstcontentcontainer {display:none}</style><div class="vc_row wpb_row vc_row-fluid">
	<div class="vc_col-sm-12 wpb_column vc_column_container ">
<div class="wpb_wrapper"></div>
        </div>
    </div>
            </section>
</section>
</section>
</section>
<section style="position:relative;padding-top:80px;" class="stretchme_on_mobile ">
<div style="background: transparent url(&quot;{{constant("ROOT")}}uploads/2012/10/pagetopbg4.jpg&quot;) repeat fixed 50% 0px / cover ;" data-speed="8" class="parallaxbg bgwithparallax videobgparallax" data-poster="" data-webm="" data-ogv="" data-mp4=""></div>
<div style="background-color:rgba(0,0,0,0.35);" class="bgwithparallax_overlay"></div> 				   
<section style="position:relative;z-index:3;" class="container notopmargin light-on-dark">
<section class="row">
<section class="span12">
<div class="wpb_text_column wpb_content_element  centered bottom20">
<div class="wpb_wrapper">
<h1 class="bold">Su Solución Administrativa</h1>
</div> 
</div> 
<div class="wpb_text_column wpb_content_element  centered">
<div class="wpb_wrapper">
<h3>Cumpliendo requerimientos de manera adecuada y oportuna</h3>

</div> 
</div> <div style="display:block;clear:both;height:10px" class=" "></div>


<div class="vc_row wpb_row vc_row-fluid">
<div class="vc_col-sm-12 wpb_column vc_column_container ">
<div class="wpb_wrapper"></div>
</div>
</div>
</section>
</section>
</section>
</section>
<section style="position:relative;padding-top:50px;" class="stretchme_on_mobile ">
<div style=" background:url() 50% 50% repeat; ;background-size:cover;" data-speed="8" class=" bgwithparallax videobgparallax" data-poster="" data-webm="" data-ogv="" data-mp4=""></div>
<div style="background-color:rgba(255,255,255,1.0);" class="bgwithparallax_overlay"></div> 				   
<section style="position:relative;z-index:3;" class="container notopmargin dark-on-light">
<section class="row"><section class="span12">
<div class="wpb_text_column wpb_content_element  centered bottom0">
<div class="wpb_wrapper">
<h2 class="bottom25">¿Quienes somos?</h2>
<h5><strong>Administradora Nuevo Hogar, C.A.</strong>, es una organización dedicada a la Administración de Condominios, Ventas y Alquileres de Inmuebles, dirigida por universitarias graduadas en Administración y Mercadeo con más de veinte años de experiencia, lo cual agrega un carácter profesional a nuestra gestión siempre en la búsqueda de la excelencia. Además de ello, disponemos de una plataforma tecnológica segura y modernizada, acorde con las exigencias del mundo actual.</h5>
</div> 
</div> 
<div style="display:block;clear:both;height:20px" class=" "></div>
<div class="vc_separator wpb_content_element vc_sep_width_100 vc_separator_no_text">
<span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
<span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
<div class="wpb_text_column wpb_content_element  centered">
</div> 	<div class="vc_row wpb_row vc_inner vc_row-fluid">
<div class="vc_col-sm-3 wpb_column vc_column_container ">
<div class="wpb_wrapper">

<div class="wpb_single_image wpb_content_element circled centeronmobile wpb_animate_when_almost_visible wpb_left-to-right vc_align_left">
<div class="wpb_wrapper">

<div class="vc_single_image-wrapper  ">
    <img width="400" height="400" alt="team1" class="vc_single_image-img attachment-full" src="{{constant('ROOT')}}uploads/2012/10/folio91-400x320.jpg">
</div>
</div> 
</div> 
</div> 
</div> 
<div class="vc_col-sm-8 wpb_column vc_column_container ">
<div class="wpb_wrapper">

<div class="wpb_text_column wpb_content_element  centeronmobile wpb_animate_when_almost_visible wpb_right-to-left">
<div class="wpb_wrapper">
<h5 class="bottom0 bold700">Nuestra Misión</h5>
<h6 class="grey">Administración de Condominio</h6>
<p>Nuestros esfuerzos están orientados a convertirnos en la Empresa de Administración de Condominios, Ventas y Alquiler de Inmuebles líder y de vanguardia del mercado inmobiliario venezolano, en la cual la Seguridad, Calidad y Confianza son el timón que nos guía por ese camino. La honestidad, transparencia, seriedad, responsabilidad, máxima garantía y solvencia, son nuestro norte a fin de proveer un servicio de calidad en beneficio de los propietarios y la comunidad, garantizando así a nuestros clientes la política de personalidad en Atención al Cliente, cumpliendo a plenitud los requerimientos de manera adecuada y oportuna permitiéndonos alcanzar su completa satisfacción.</p>
</div> 
</div> 
</div> 
</div> 
</div>
<div class="vc_separator wpb_content_element vc_sep_width_100 vc_separator_no_text">
<span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
<span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>

<div style="display:block;clear:both;height:10px" class=" "></div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">
<div class="vc_col-sm-1 wpb_column vc_column_container ">
<div class="wpb_wrapper">
</div> 
</div>
<div class="vc_col-sm-7 wpb_column vc_column_container ">
<div class="wpb_wrapper">

<div class="wpb_text_column wpb_content_element  centeronmobile wpb_animate_when_almost_visible wpb_right-to-left">
<div class="wpb_wrapper">
<h5 class="bottom0 bold700">Nuestra Misión</h5>
<h6 class="grey">Administración de Condominio</h6>
<p>Nuestro propósito es brindar a los clientes un servicio integral y profesional; superior en calidad con sólidos principios éticos y morales para desarrollar la mejor actividad en pro de nuestros clientes, asegurando con responsabilidad el cumplimiento de todas las obligaciones que imponen las Leyes y Decretos de la materia.</p>
</div> 
</div> 
</div> 
</div> 

<div class="vc_col-sm-3 wpb_column vc_column_container ">
<div class="wpb_wrapper">

<div class="wpb_single_image wpb_content_element circled centeronmobile wpb_animate_when_almost_visible wpb_right-to-left vc_align_left">
<div class="wpb_wrapper">

<div class="vc_single_image-wrapper  ">
    <img width="400" height="400" alt="team4" class="vc_single_image-img attachment-full" src="{{constant('ROOT')}}uploads/2012/10/folio151-400x320.jpg"></div>
</div> 
</div> 
</div> 
</div> 
</div><div class="vc_separator wpb_content_element vc_sep_width_100 vc_separator_no_text">
<span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
<span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>		 

<!-- Content End -->
</section>


</section><div class="clear"></div>
<!-- /Body -->

<!-- Bottom Spacing -->
<div class="row top50"></div>
</section><!-- /container -->
</section>
{% endblock %}
{% block js %}
{{ parent()}}
<script type="text/javascript">
 jQuery(document).ready(function() {
     jQuery(".menu-item").removeClass("current-menu-item page_item");
     jQuery(".empresa").addClass("current-menu-item page_item ");
     
 });
</script>
{% endblock %}