{% extends 'layout/base.html.twig'%}
{% block contenido %}
    <section class="stretchme_on_mobile" style="position:relative" id="firstcontentcontainer">
<section class="container">
<!-- Body -->
<section class="row">
    <!-- Content -->
	    <section class="span12">
    <style>#firstcontentcontainer {display:none}</style><div class="vc_row wpb_row vc_row-fluid">
	<div class="vc_col-sm-12 wpb_column vc_column_container ">
<div class="wpb_wrapper"></div>
        </div>
    </div>
            </section>
</section>
</section>
</section>
    <section style="position:relative;padding-top:80px;" class="stretchme_on_mobile ">
<div style="background: transparent url(&quot;{{constant("ROOT")}}uploads/2014/01/bg_green2.jpg&quot;) repeat fixed 50% 0px / cover ;" data-speed="8" class="parallaxbg bgwithparallax videobgparallax" data-poster="" data-webm="" data-ogv="" data-mp4=""></div>
<div style="background-color:rgba(0,0,0,0.35);" class="bgwithparallax_overlay"></div> 				   
<section style="position:relative;z-index:3;" class="container notopmargin light-on-dark">
<section class="row">
<section class="span12">
<div class="wpb_text_column wpb_content_element  centered bottom20">
<div class="wpb_wrapper">
<h1 class="bold">Servicios Exclusivos</h1>
</div> 
</div> 
<div class="wpb_text_column wpb_content_element  centered">
<div class="wpb_wrapper">
<h3>Lideres en el sector inmobiliario y administradción de condominios</h3>

</div> 
</div> <div style="display:block;clear:both;height:10px" class=" "></div>


<div class="vc_row wpb_row vc_row-fluid">
<div class="vc_col-sm-12 wpb_column vc_column_container ">
<div class="wpb_wrapper"></div>
</div>
</div>
</section>
</section>
</section>
</section>
<section class="stretchme_on_mobile" style="position:relative;padding-top: 50px">
<section class="container notopmargin dark-on-light" style="position: relative;z-index: 3">
<div class="vc_row wpb_row vc_row-fluid">
    <div class="vc_col-sm-12 wpb_column vc_column_container ">
    <div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  centered">
    <div class="wpb_wrapper">
    <h2>¿Porqué trabajar con nosotros?</h2>
    </div> 
    </div> 
    <div style="display:block;clear:both;height:4px" class=" "></div>	
    <div class="vc_row wpb_row vc_inner vc_row-fluid">
    <div class="vc_col-sm-6 wpb_column vc_column_container ">
    <div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
    <h4>Atención personalizada</h4>
<p>Su Residencia será atendida por un Ejecutivo de Cuentas y un Gerente de Condominio, quienes les brindarán una atención personalizada en forma permanente, logrando de esta manera un flujo de comunicación mucho más rápido.
El Gerente de Condominio, visitará su inmueble y generará un reporte de aquellas áreas o instalaciones que requieran atención, reparación o mantenimiento, evitando el deterioro de la Residencia y por ende el valor de su inmueble se incrementa.
Posteriormente al reporte le haremos llegar una serie de cotizaciones, de las áreas o instalaciones que requieran en ese momento ser atendidas a fin de que la Junta de Condominio las revise y pueda tomar la mejor decisión acorde a los requerimientos de La Comunidad.
</p>
    </div> 
    </div> 
    </div> 
    </div> 
    <div class="vc_col-sm-6 wpb_column vc_column_container ">
            <div class="wpb_wrapper">			
    <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                    <h4>Cuenta bancaria personal</h4>
                    <p><strong>Administradora Nuevo Hogar, C.A.</strong> con el fin de facilitar a la Junta de Condominio un manejo eficaz de los ingresos y egresos de su Residencia, apertura una Cuenta Corriente a nombre del Condominio en el banco de su preferencia. Esto le permitirá llevar un mejor control y disponibilidad inmediata de sus Fondos, de esta manera solo podrán ser emitidos cheques para cancelar gastos de la Residencia, debidamente autorizados y firmados por la Junta de Condominio.</p>
<p>La Administradora igualmente, realiza todas las actividades de control y registro administrativo.</p>

            </div> 
    </div> 
            </div> 
    </div> 
    </div>
    </div> 
    </div> 
</div>
</section>
</section>
<section class="pagewrapleft">

<div class="vc_row wpb_row vc_row-fluid">
<div class="wpb_text_column wpb_content_element  centered">
<div class="wpb_wrapper">
    <h4>Servicio de Cobranzas</h4>
    <p>Le ofrecemos un sistema de cobranza a través del cual los copropietarios del inmueble cuentan con diversas opciones de pago,<br>evitando así caer en estado de morosidad en la cancelación del condominio.</p>
</div> 
</div>
<div class="vc_col-sm-3 wpb_column vc_column_container ">
<div class="wpb_wrapper">
<div class="servicewrap">
<a class="service" target="_self" href="#">
<div class="serviceicon ">
        <div class="icon-cog-alt"></div>							    
</div>
    <h4>Transferencias Bancarias</h4><h5>Condominio en línea</h5><div class="text">Desde cualquier cuenta particular, a la cuenta corriente del Condominio. 
                  Luego de realizada la transferencia, debe enviar la información a través del Portal  
                  o por Correo.
</div></a>
</div>
</div> 
</div> 

<div class="vc_col-sm-3 wpb_column vc_column_container ">
<div class="wpb_wrapper">
<div class="servicewrap">
<a class="service" target="_self" href="#">
<div class="serviceicon ">
        <div class="icon-basket-1"></div>							    
</div>
    <h4>Directamente en el Banco</h4><h5>Depósitos o Transferencias</h5><div class="text">Depositando en la cuenta a nombre del Condominio. Luego de realizado el depósito, debe enviar la información vía Fax o por Correo.</div></a>
</div>
</div> 
</div> 

<div class="vc_col-sm-3 wpb_column vc_column_container ">
<div class="wpb_wrapper">
<div class="servicewrap">
<a class="service" target="_self" href="#">
<div class="serviceicon ">
        <div class="icon-network"></div>							    
</div>
<h4>Cobranza Especial</h4><h5>Cobrador Externo</h5><div class="text">En direcciones distintas al inmueble administrado, previa solicitud del copropietario y con un costo adicional para el solicitante.</div></a>
</div>
</div> 
</div> 

<div class="vc_col-sm-3 wpb_column vc_column_container ">
<div class="wpb_wrapper">
<div class="servicewrap">
<a class="service" target="_self" href="#">
<div class="serviceicon ">
        <div class="icon-network"></div>							    
</div>
<h4>Por taquilla</h4><h5>Nuestras oficinas</h5><div class="text">Ubicadas en la Av. Principal de Playa Grande, manzana Q, Centro Deportivo Ariel, Local 1, Urbanización Playa Grande, Catia La Mar, Estado Vargas.</div></a>
</div>
</div> 
</div> 
</div>
<!-- Content End -->
</section>
<section style="position:relative;padding-top:60px;" class="stretchme_on_mobile ">
    <div style="background: transparent url(&quot;{{constant('ROOT')}}uploads/2012/10/parallaxbg9.jpg&quot;) repeat fixed 50% -22.42px / cover ;" data-speed="150" class="parallaxbg bgwithparallax videobgparallax" data-poster="" data-webm="" data-ogv="" data-mp4=""></div>
<div style="background-color: rgba(153, 188, 86, 0.65);" class="bgwithparallax_overlay"></div> 				   
<section style="position:relative;z-index:3;" class="container notopmargin light-on-dark">
<section class="row">
<section class="span12"> 
<div class="vc_row wpb_row vc_inner vc_row-fluid">
    <div class="vc_col-sm-6 wpb_column vc_column_container ">
    <div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
    <h4>Pago a proveedores y servicios</h4>
    <p>Los pagos de gastos contractuales y no contractuales a los Proveedores serán realizados con celeridad de acuerdo a las prioridades establecidas por la Junta de Condominio. Los pagos de los servicios básicos son procesados a través de Internet.</p>
    </div> 
    </div> 
    </div> 
    </div> 
    <div class="vc_col-sm-6 wpb_column vc_column_container ">
            <div class="wpb_wrapper">			
    <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                    <h4>Servicio fiscal y contable externo</h4>
                    <p>Le ofrecemos profesionales altamente capacitados para todo tipo de tramite fiscal (I.V.A.) (I.S.L.R.) y Registro en libros de toda la Contabilidad del Condominio.</p>

            </div> 
    </div> 
            </div> 
    </div> 
    </div>
</section>
</section>
</section>
</section>
<section style="position:relative;padding-top:50px;border-top:1px solid #e5e5e5;" class="stretchme_on_mobile ">
<div style=" background:url() 50% 50% repeat; ;background-size:cover;" data-speed="8" class=" bgwithparallax videobgparallax" data-poster="" data-webm="" data-ogv="" data-mp4=""></div>
<div style="background-color:rgba(245,245,245,1.0);" class="bgwithparallax_overlay"></div> 				   
<section style="position:relative;z-index:3;" class="container notopmargin dark-on-light">
<section class="row">
<section class="span12">
<div class="vc_row wpb_row vc_inner vc_row-fluid">
<div class="vc_col-sm-6 wpb_column vc_column_container ">
<div class="wpb_wrapper">
<div class="centeronmobile">
<h4 class="premiumheadline">Disponibilidad de proveedores</h4>
<p style="margin-bottom: 30px;">Colocamos a su disposición un Registro de Proveedores, para los efectos de contratar servicios esenciales y de mantenimiento para la Residencia; tales como, vigilancia, plomería, electricidad, jardinería, pintura, rejas, mantenimiento de ascensores, bombas, puertas eléctricas, intercomunicadores, fumigación, lectura de medidores, entre otros. Igualmente disponemos de Alianzas Estratégicas con empresas para satisfacer los requerimientos de Albañilería, Pintura, Plomería, Electricidad y todo tipo de Reparaciones y Remodelaciones a realizar en las Residencias para su buen conservamiento y valoración del inmueble. </p>
</div>
</div> 
</div> 

<div class="vc_col-sm-6 wpb_column vc_column_container ">
<div class="wpb_wrapper">
<div class="wpb_wrapper">
<div class="centeronmobile">
<h4 class="premiumheadline">Apoyo y asesoramiento legal</h4>
<p style="margin-bottom: 30px;">La más completa asesoría legal para el manejo adecuado de su Residencia:</p>
<p>Convocatorias para Asambleas ordinarias y extraordinarias. Sellado de Libros de Actas ante Notario Público y trascripción de las actas y cartas consulta.
Elaboración de contratos de trabajo, calculo de liquidaciones, prestaciones y más.
Asesor Legal Externo, saneamiento de morosos; u otros problemas legales.
Asesoría Externa sobre trámites laborales: desalojo de la vivienda de conserjería, inspectoría de trabajo y otros.
</p>
</div>

</div> 
</div> 
</div> 
</div> 
</section>
</section>
</section>
</section>
<section style="position:relative;padding-top: 50px" class="stretchme_on_mobile">
<section style="position: relative;z-index: 3" class="container notopmargin dark-on-light">
<div class="vc_row wpb_row vc_row-fluid">
    <div class="vc_col-sm-12 wpb_column vc_column_container ">
    <div class="wpb_wrapper">
    <div class=" " style="display:block;clear:both;height:4px"></div>	
    <div class="vc_row wpb_row vc_inner vc_row-fluid">
    <div class="vc_col-sm-6 wpb_column vc_column_container ">
    <div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
    <h4>Trámites ante el I.V.S.S.y F.A.O</h4>
    <p>Inscripción en el I.V.S.S. ante el Sistema Tiuna, solicitud de solvencia, tramitación de inclusión de nuevos asegurados, retiros del seguro y actualización de documentos en el Seguro Social. Inscripción de todo el proceso ante Banavih.</p>
    </div> 
    </div> 
    </div> 
    </div> 
    <div class="vc_col-sm-6 wpb_column vc_column_container ">
            <div class="wpb_wrapper">			
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h4>Reglamentación de la LOPCYMAT</h4>
            <p>Le apoyamos y asesoramos en el cumplimiento de las condiciones de Ley que aplican a la Residencia como empleador y hacia sus trabajadores.</p>
        </div> 
    </div> 
            </div> 
    </div> 
    </div>
    </div> 
    </div> 
</div>
</section>
</section>
<section style="position:relative;padding-top:50px;border-top:1px solid #e5e5e5;" class="stretchme_on_mobile ">
<div style=" background:url() 50% 50% repeat; ;background-size:cover;" data-speed="8" class=" bgwithparallax videobgparallax" data-poster="" data-webm="" data-ogv="" data-mp4=""></div>
<div style="background-color:rgba(245,245,245,1.0);" class="bgwithparallax_overlay"></div> 				   
<section style="position:relative;z-index:3;" class="container notopmargin dark-on-light">
<section class="row">
<section class="span12">
<div class="vc_row wpb_row vc_inner vc_row-fluid">
<div class="vc_col-sm-6 wpb_column vc_column_container ">
<div class="wpb_wrapper">
<div class="centeronmobile">
<h4 class="premiumheadline">Administración</h4>
<p><strong>Pre-facturación: </strong>Adelanto del detalle mensual de los gastos comunes de la Residencia, para aprobación por parte de la Junta de Condominio.</p>
<p><strong>Facturación: </strong>Cargo detallado en el Recibo de Condominio de la Residencia de las transacciones realizadas durante el mes (gastos del mes), como lo son los gastos ordinarios, extraordinarios, cuotas, etc.; y detalle del estado de cuentas de la Residencia (fondo  de  reserva,  de  prestaciones,  de trabajo, cuentas por cobrar, saldos bancarios)  y algún otro por requerimiento de la Junta de Condominio.</p>
<p><strong>Reportes: </strong>Listado semanal de saldos de los copropietarios, corte trimestral de los gastos detallados de la residencia, informe anual de la administradora, son algunos de los resportes que le podemos entregar oportunamente.</p>
</div>
</div> 
</div> 

<div class="vc_col-sm-6 wpb_column vc_column_container ">
<div class="wpb_wrapper">
<div class="wpb_wrapper">
<div class="centeronmobile">
<h4 class="premiumheadline">Cambio de administración</h4>
<p><strong>Administradora Nuevo Hogar, C.A.</strong> le asesora y apoya durante el proceso de cambio de su administración, a fin de que el mismo sea transparente y sin complicaciones para la Junta de Condominio, por ende no afecta el movimiento administrativo de la Residencia.</p>
<p>Le suministramos toda la documentación e información necesaria para la realización del proceso, tales como:</p>
<ul class="centerlist_onmobile customlist" style="width: 570px;">
    <li><i style="font-size:20px" class="icon-check checkicon highlightcolor"></i>Carta consulta a los propietarios. - <em>Art.23, Ley de Propiedad Horizontal</em></li>
<li><i style="font-size:20px" class="icon-check checkicon highlightcolor"></i>Solicitud de finiquito al administrador saliente.</li>
<li><i style="font-size:20px" class="icon-check checkicon highlightcolor"></i>Recaudos para el inicio del servicio.</li>
<li><i style="font-size:20px" class="icon-check checkicon highlightcolor"></i>Base de datos de copropietarios</li>
<li><i style="font-size:20px" class="icon-check checkicon highlightcolor"></i>Contrato de administración de condominios.</li>
</ul>
</div>

</div> 
</div> 
</div> 
</div> 
</section>
</section>
</section>
</section>
<section class="stretchme_on_mobile" style="position:relative;padding-top: 50px">
<section class="container notopmargin dark-on-light" style="position: relative;z-index: 3">
<div class="vc_row wpb_row vc_row-fluid">
    <div class="vc_col-sm-1 wpb_column vc_column_container "></div>
    <div class="vc_col-sm-10 wpb_column vc_column_container ">
    <div class="wpb_wrapper">
    <div style="display:block;clear:both;height:4px" class=" "></div>	
    <div class="vc_row wpb_row vc_inner vc_row-fluid">
    
    <div class="wpb_text_column wpb_content_element centered ">
    <div class="wpb_wrapper">
    <h4>Sistema de consultas en línea</h4>
    <p>Disponemos de una herramienta tecnológica para manejar propietarios, avisos de cobro, cuentas por cobrar y pagar, bancos y todo lo concerniente a la gestión del condominio para  lograr asi una eficaz administración de su Residencia.</p>
    <p>A través del portal el propietario puede consultar su estado de cuenta, revisar el último recibo de Condominio emitido, reportar un pago, comunicarse con el administrador. El Portal permite publicar comunicaciones e imagines que la Junta de Condominio desee hacerle llegar a la Comunidad.</p>
    <p>En el portal se colocan los datos de la Junta de Condominio para fácil información de la Comunidad.</p>
    <p>El propietario recibe a su correo registrado el acceso, código del condominio y una clave para ingresar al portal. Mensualmente recibe en su correo el aviso de cobro para que pueda procesar su pago. Luego de procesar el pago y notificarlo, se verifica en Banco, al estar abonado el pago en la Cuenta de la Residencia, recibe en su correo el soporte del pago para su control. En el portal puede visualizar las cuentas por cobrar y verificar el status de los morosos. </p>
    </div> 
    </div> 
    
    </div>
    </div> 
    </div> 
</div>
</section>
</section>
{% endblock %}
{% block js %}
{{ parent()}}
<script type="text/javascript">
    jQuery(document).ready(function() {
    jQuery(".menu-item").removeClass("current-menu-item page_item");
    jQuery(".servicios").addClass("current-menu-item page_item ");
 });
</script>
{% endblock %}