<footer>
<section class="footerwrap " >
<section class="footer">
<div class="row">
<article class="span3 widget">
<div id="text-4" class="widget-1  first span3 widget widget_text">			<div class="textwidget">
<img src="{{constant('ROOT')}}uploads/2014/01/footerlogo.png" alt="Administrdora Nuevo Hogar" style="margin-bottom:20px"/><br/>
</div>
<div class="clear"></div>
</div>
</article>				
<article class="span4 widget">
<div id="text-5" class="widget-1  first span3 widget widget_text">
<table class="footertitle">
<tr style="width:100%">
<td style="white-space:nowrap;"><h4>Contáctenos</h4></td>
<td style="width:100%"><div class="widgettitlebg"></div></td>
</tr>
</table>
<div class="textwidget">
<ul class="customlist">
<li>
<a href="mailto:info@administradoranuevohogar.com.ve">
<i class="icon-mail"></i>
<span style="margin-left:10px">info@administradoranuevohogar.com.ve</span>
</a>
</li>
<!--li><i class="icon-phone"></i><span style="margin-left:10px">(0212) 735 1320</span></li-->
<li><i class="icon-home-1"></i>
    <span style="margin-left:10px">
        Av. Principal de Playa Grande, manzana Q, Centro Deportivo Ariel, Local 1,
        Urbanización Playa Grande, Catia La Mar. Estado Vargas
    </span></li>
</ul>
</div>
<div class="clear"></div>
</div>
</article>
<article class="span2 widget">
<div id="velocityposts-2" class="widget-1  first span3 widget velocityPosts">
<table class="footertitle">
<tr style="width:100%">
<td style="white-space:nowrap;"><h4>Contáctenos</h4></td>
<td style="width:100%"><div class="widgettitlebg"></div></td>
</tr>
</table>
<div class="textwidget">
<ul class="customlist">
<li><i class="icon-phone"></i><span style="margin-left:10px">(0212) 735 1320</span></li>
<li><i class="icon-mobile"></i><span style="margin-left:10px">(0414) 262 4817</span></li>
<!--li><i class="icon-mobile"></i><span style="margin-left:10px">(0414) 111 3849</span></li-->
<li><i class="icon-mobile"></i><span style="margin-left:10px">(0424) 250 5344</span></li>
</ul>
</div>
<div class="clear"></div></div>
</article>
<article class="span3 widget">
<div id="velocitysocials-2" class="widget-1  first span3 widget velocitySocials"><table class="footertitle"><tr style="width:100%"><td style="white-space:nowrap;"><h4>Socialice con nosotros</h4></td><td style="width:100%"><div class="widgettitlebg"></div></td></tr></table><div class="social"><ul><li><a href="#" target="_blank" class="so_facebook" data-rel="tooltip" data-animation="false" data-placement="bottom" title="Facebook"><div class="s_icon social-facebook"></div></a></li><li><a href="#" target="_blank" class="so_twitter" data-rel="tooltip" data-animation="false" data-placement="bottom" title="Twitter"><div class="s_icon social-twitter"></div></a></li><li><a href="#" target="_blank" class="so_gplus" data-rel="tooltip" data-animation="false" data-placement="bottom" title="Google+"><div class="s_icon social-gplus"></div></a></li><li><a href="#" target="_blank" class="so_pinterest" data-rel="tooltip" data-animation="false" data-placement="bottom" title="Pinterest"><div class="s_icon social-pinterest"></div></a></li><li><a href="#" target="_blank" class="so_vimeo" data-rel="tooltip" data-animation="false" data-placement="bottom" title="Vimeo"><div class="s_icon social-vimeo"></div></a></li><li><a href="#" target="_blank" class="so_linkedin" data-rel="tooltip" data-animation="false" data-placement="bottom" title="LinkedIn"><div class="s_icon social-linkedin"></div></a></li><li><a href="#" target="_blank" class="so_rss" data-rel="tooltip" data-animation="false" data-placement="bottom" title="RSS"><div class="s_icon social-rss"></div></a></li><li><a href="#" target="_blank" class="so_youtube" data-rel="tooltip" data-animation="false" data-placement="bottom" title="YouTube"><div class="s_icon social-youtube"></div></a></li></ul></div><div class="clear"></div></div>				</article>	
</div>
</section>
</section> 
<!-- Sub Footer -->  
<section class="subfooterwrap ">
<div class="subfooter">
<div class="row">
<article class="span6 lefttext">
<div id="text-2" class="widget-1  first widget_text">			
<div class="textwidget">
Administradora Nuevo Hogar, C.A. © 2016<br /> Rif.J-40601762-0</div>
<div class="clear"></div></div>
</article>
<article class="span6 righttext">
<div id="text-3" class="widget-1  first widget_text">			
<div class="textwidget">
    <a href="http://www.pronet21.com.ve" target="_blank" style="color:#f75f13">Página Web</a> por <a href="http://www.pronet21.com.ve" target="_blank" style="color:#8fd300">Pronet21</a><br />
Gestionado con <a href="http://www.administracion-condominio.com.ve" target="_blank">Sistema de Administración de Condominios</a> <i class="icon-certificate" style="font-size: 17px; color: #fff; margin-left: 5px; margin-right: 5px;"></i> Valoriza2
</div>
<div class="clear"></div></div>
</article>
</div>
</div>
</section>
</footer>